:root {
    --fondo-color: #b7cddb;
    --header-color: #0b2239;
    --text-navbar-color: #f3f8fb;
    --card-color: #675cb0;
    --border-card-color: #675cb0;
    --footer-color: #0b2239;
    --text-footer-color: #f3f8fb;
    --fuente-principal: "Yanone Kaffeesatz", sans-serif;
  }
  